## Step 1: pip install pymongo

## Step 2: try connecting to db

In [1]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
# testuser = username
# testtesttest = pw
# cluster0 = name of the cluster
uri = "mongodb+srv://testuser:testtesttest@cluster0.zxxzs.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

## Step 3: insert data

In [4]:
# try to connect and make a new db
database_name = "mynewdb"
# here connection is made
client = MongoClient(uri)
# new db created
database = client[database_name]

# new collection in db to keep everything in order
collection_name = "mycol"
collection = database[collection_name]

# Sample data to be inserted, just json format
data_to_insert = {
    "name": "John Doe",
    "age": 30,
    "city": "New York",
    "email": "john.doe@example.com"
}

# Insert one data into the collection
result = collection.insert_one(data_to_insert)

In [5]:
# find to see if it worked
all_documents = collection.find()
# Print each document
for document in all_documents:
    print(document)

{'_id': ObjectId('6552367fb94225724bdb6272'), 'name': 'John Doe', 'age': 30, 'city': 'New York', 'email': 'john.doe@example.com'}
{'_id': ObjectId('65523680b94225724bdb6274'), 'name': 'Bob', 'age': 35, 'city': 'Los Angeles', 'email': 'bob@example.com'}
{'_id': ObjectId('65523680b94225724bdb6275'), 'name': 'Charlie', 'age': 28, 'city': 'Seattle', 'email': 'charlie@example.com'}
{'_id': ObjectId('65523680b94225724bdb6277'), 'name': 'Charlie', 'age': 23, 'city': 'Graz', 'email': 'charlie@example.com'}
{'_id': ObjectId('65523682b94225724bdb6279'), 'name': 'John Doe 2', 'age': 32, 'city': 'New York 2', 'email': 'john.doe2@example.com'}
{'_id': ObjectId('6555e0c8976f26f8837d57d0'), 'name': 'John Doe', 'age': 30, 'city': 'New York', 'email': 'john.doe@example.com'}
{'_id': ObjectId('6555e0e1976f26f8837d57d2'), 'name': 'John Doe', 'age': 30, 'city': 'New York', 'email': 'john.doe@example.com'}

In [6]:
data_to_insert_many = [
    {"name": "Alice", "age": 25, "city": "San Francisco", "email": "alice@example.com"},
    {"name": "Bob", "age": 35, "city": "Los Angeles", "email": "bob@example.com"},
    {"name": "Charlie", "age": 28, "city": "Seattle", "email": "charlie@example.com"},
    {"name": "Charlie", "age": 25, "city": "Seattle", "email": "charlie@example.com"},
    {"name": "Charlie", "age": 23, "city": "Graz", "email": "charlie@example.com"},
    {"name": "Charlie", "age": 25, "city": "Vienna", "email": "charlie@example.com"},
    # Add more documents as needed
]

# Insert multiple documents into the collection
result_many = collection.insert_many(data_to_insert_many)

## Find w.o. query

In [7]:
# find to see if it worked
all_documents = collection.find()
# Print each document
for document in all_documents:
    print(document)

{'_id': ObjectId('6552367fb94225724bdb6272'), 'name': 'John Doe', 'age': 30, 'city': 'New York', 'email': 'john.doe@example.com'}
{'_id': ObjectId('65523680b94225724bdb6274'), 'name': 'Bob', 'age': 35, 'city': 'Los Angeles', 'email': 'bob@example.com'}
{'_id': ObjectId('65523680b94225724bdb6275'), 'name': 'Charlie', 'age': 28, 'city': 'Seattle', 'email': 'charlie@example.com'}
{'_id': ObjectId('65523680b94225724bdb6277'), 'name': 'Charlie', 'age': 23, 'city': 'Graz', 'email': 'charlie@example.com'}
{'_id': ObjectId('65523682b94225724bdb6279'), 'name': 'John Doe 2', 'age': 32, 'city': 'New York 2', 'email': 'john.doe2@example.com'}
{'_id': ObjectId('6555e0c8976f26f8837d57d0'), 'name': 'John Doe', 'age': 30, 'city': 'New York', 'email': 'john.doe@example.com'}
{'_id': ObjectId('6555e0e1976f26f8837d57d2'), 'name': 'John Doe', 'age': 30, 'city': 'New York', 'email': 'john.doe@example.com'}
{'_id': ObjectId('6555e0e3976f26f8837d57d3'), 'name': 'Alice', 'age': 25, 'city': 'San Francisco', 'email': 'alice@example.com'}
{'_id': ObjectId('6555e0e3976f26f8837d57d4'), 'name': 'Bob', 'age': 35, 'city': 'Los Angeles', 'email': 'bob@example.com'}
{'_id': ObjectId('6555e0e3976f26f8837d57d5'), 'name': 'Charlie', 'age': 28, 'city': 'Seattle', 'email': 'charlie@example.com'}
{'_id': ObjectId('6555e0e3976f26f8837d57d6'), 'name': 'Charlie', 'age': 25, 'city': 'Seattle', 'email': 'charlie@example.com'}
{'_id': ObjectId('6555e0e3976f26f8837d57d7'), 'name': 'Charlie', 'age': 23, 'city': 'Graz', 'email': 'charlie@example.com'}
{'_id': ObjectId('6555e0e3976f26f8837d57d8'), 'name': 'Charlie', 'age': 25, 'city': 'Vienna', 'email': 'charlie@example.com'}

In [8]:
# try another data 
data_to_insert = {
    "name": "John Doe 2",
    "age": 32,
    "city": "New York 2",
    "email": "john.doe2@example.com"
}

result = collection.insert_one(data_to_insert)

In [9]:
print(result)

InsertOneResult(ObjectId('6555e0ee976f26f8837d57d9'), acknowledged=True)

In [10]:
# find all to see if it worked
all_documents = collection.find()
# Print each document
for document in all_documents:
    print(document)

{'_id': ObjectId('6552367fb94225724bdb6272'), 'name': 'John Doe', 'age': 30, 'city': 'New York', 'email': 'john.doe@example.com'}
{'_id': ObjectId('65523680b94225724bdb6274'), 'name': 'Bob', 'age': 35, 'city': 'Los Angeles', 'email': 'bob@example.com'}
{'_id': ObjectId('65523680b94225724bdb6275'), 'name': 'Charlie', 'age': 28, 'city': 'Seattle', 'email': 'charlie@example.com'}
{'_id': ObjectId('65523680b94225724bdb6277'), 'name': 'Charlie', 'age': 23, 'city': 'Graz', 'email': 'charlie@example.com'}
{'_id': ObjectId('65523682b94225724bdb6279'), 'name': 'John Doe 2', 'age': 32, 'city': 'New York 2', 'email': 'john.doe2@example.com'}
{'_id': ObjectId('6555e0c8976f26f8837d57d0'), 'name': 'John Doe', 'age': 30, 'city': 'New York', 'email': 'john.doe@example.com'}
{'_id': ObjectId('6555e0e1976f26f8837d57d2'), 'name': 'John Doe', 'age': 30, 'city': 'New York', 'email': 'john.doe@example.com'}
{'_id': ObjectId('6555e0e3976f26f8837d57d3'), 'name': 'Alice', 'age': 25, 'city': 'San Francisco', 'email': 'alice@example.com'}
{'_id': ObjectId('6555e0e3976f26f8837d57d4'), 'name': 'Bob', 'age': 35, 'city': 'Los Angeles', 'email': 'bob@example.com'}
{'_id': ObjectId('6555e0e3976f26f8837d57d5'), 'name': 'Charlie', 'age': 28, 'city': 'Seattle', 'email': 'charlie@example.com'}
{'_id': ObjectId('6555e0e3976f26f8837d57d6'), 'name': 'Charlie', 'age': 25, 'city': 'Seattle', 'email': 'charlie@example.com'}
{'_id': ObjectId('6555e0e3976f26f8837d57d7'), 'name': 'Charlie', 'age': 23, 'city': 'Graz', 'email': 'charlie@example.com'}
{'_id': ObjectId('6555e0e3976f26f8837d57d8'), 'name': 'Charlie', 'age': 25, 'city': 'Vienna', 'email': 'charlie@example.com'}
{'_id': ObjectId('6555e0ee976f26f8837d57d9'), 'name': 'John Doe 2', 'age': 32, 'city': 'New York 2', 'email': 'john.doe2@example.com'}

## Queries

In [11]:
# using queries on data
# also json format
query = {"age": 30}

# Retrieve documents that match the query
matching_documents = collection.find(query)

# Print each matching document
for document in matching_documents:
    print(document)

{'_id': ObjectId('6552367fb94225724bdb6272'), 'name': 'John Doe', 'age': 30, 'city': 'New York', 'email': 'john.doe@example.com'}
{'_id': ObjectId('6555e0c8976f26f8837d57d0'), 'name': 'John Doe', 'age': 30, 'city': 'New York', 'email': 'john.doe@example.com'}
{'_id': ObjectId('6555e0e1976f26f8837d57d2'), 'name': 'John Doe', 'age': 30, 'city': 'New York', 'email': 'john.doe@example.com'}

In [12]:
# as specific as needed
query = {"age": 25, "name":"Charlie"}
matching_documents = collection.find(query)

# Print each matching document
for document in matching_documents:
    print(document)

{'_id': ObjectId('6555e0e3976f26f8837d57d6'), 'name': 'Charlie', 'age': 25, 'city': 'Seattle', 'email': 'charlie@example.com'}
{'_id': ObjectId('6555e0e3976f26f8837d57d8'), 'name': 'Charlie', 'age': 25, 'city': 'Vienna', 'email': 'charlie@example.com'}

In [13]:
query = {"age": 25, "name":"Charlie", "city":"Vienna"}
matching_documents = collection.find(query)

# Print each matching document
for document in matching_documents:
    print(document)

{'_id': ObjectId('6555e0e3976f26f8837d57d8'), 'name': 'Charlie', 'age': 25, 'city': 'Vienna', 'email': 'charlie@example.com'}

In [14]:
# shows only first 3 entries
matching_documents = collection.find().limit(3)

# Print each matching document
for document in matching_documents:
    print(document)

{'_id': ObjectId('6552367fb94225724bdb6272'), 'name': 'John Doe', 'age': 30, 'city': 'New York', 'email': 'john.doe@example.com'}
{'_id': ObjectId('65523680b94225724bdb6274'), 'name': 'Bob', 'age': 35, 'city': 'Los Angeles', 'email': 'bob@example.com'}
{'_id': ObjectId('65523680b94225724bdb6275'), 'name': 'Charlie', 'age': 28, 'city': 'Seattle', 'email': 'charlie@example.com'}

## Deleting

In [16]:
# just json all the way
filter_condition = {"age": 25}
# Delete all documents in the collection where age is 25
result = collection.delete_many(filter_condition)
print("num of deleted:", result.deleted_count)

num of deleted: 0

In [15]:
# deletes all data in collection
result = collection.delete_many({})

In [17]:
# close connection after work is done to free resources
client.close()